<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

</head>
<body style="background-color:rgb(94, 127, 177);">
    <div class="container ">
        <div class="separador"></div>
        <div class = "hijo-descripcion">
            <h1>Herramienta Inteligente para creacion de UI</h1> <br>
            Con el fin de saber que nivel de importancia se que quiere dar a cada item dentro de la interfaz se dan 5 niveles
            de importancia donde Muy poca es que no se le da nada o casi nada y Muy importante mucha.  
        </div>
        <div class = "hijo-formulario ">
            <!-- Tipo de juego-->
            <div>
                <h6>Tipo de Juego</h6> 
                <div>
                    <input type="radio" id="tipo-juego-plat" name="tipo-juego" checked>
                    <label>Plataforma 2D</label>
                </div>
                <div>
                    <input type="radio" id="tipo-juego-shoot" name="tipo-juego">
                    <label>First Person Shooter 3D</label>
                </div>
            </div>
            <!-- Vida-->
            <div class="contenedor-item">
                <!-- Chech Box-->
                <div class="propiedad-item">
                    <label><input type="checkbox" id="opcion-vida" name="opcion-vida"> Vida</label>
                </div>
                
                <!-- Atributos de la vida-->
                <div class="propiedad-item" name="imp-vida">
                    <div class="contenedor-importancia-item">
                        <div class="importancia-item">
                            <input type="radio" id="imp-mp-vida" name="imp-vida" checked>
                            <label>Muy poca</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-p-vida" name="imp-vida" checked>
                            <label>Poca importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-x-vida" name="imp-vida" checked>
                            <label>Media importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-m-vida" name="imp-vida" checked>
                            <label>Mucha importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-mm-vida" name="imp-vida" checked>
                            <label>Muy importancia</label>
                        </div>
                    </div>
                </div>   
                <!-- Valor de la vida-->  
                <div class="propiedad-item">
                    <select name="rango-vida" id="rango-vida">
                        <option value="Discreto">Discreto</option>
                        <option value="Continuo">Continuo</option>
                    </select>
                    <small>Valor que tiene la vida en el juego</small>
                </div>         
            </div>
            <!--Tiempo-->
            <div class="contenedor-item">
                <!-- Chech Box-->
                <div class="propiedad-item">
                    <label><input type="checkbox" id="opcion-tiempo" name="opcion-tiempo"> Tiempo</label>
                </div>
                
                <!-- Atributos de la tiempo-->
                <div class="propiedad-item" name="imp-tiempo">
                    <div class="contenedor-importancia-item">
                        <div class="importancia-item">
                            <input type="radio" id="imp-mp-tiempo" name="imp-tiempo" checked>
                            <label>Muy poca</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-p-tiempo" name="imp-tiempo" checked>
                            <label>Poca importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-x-tiempo" name="imp-tiempo" checked>
                            <label>Media importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-m-tiempo" name="imp-tiempo" checked>
                            <label>Mucha importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-mm-tiempo" name="imp-tiempo" checked>
                            <label>Muy importancia</label>
                        </div>
                    </div>
                </div>   
                <!-- Valor de la vida-->  
                <div class="propiedad-item">
                    <select name="tipo-tiempo" id="tipo-tiempo">
                        <option value="Cronometro">Cronometro</option>
                        <option value="Cuenta Atrás">Cuenta Atrás</option>
                    </select>
                    <small>Uso del tiempo en el juego</small>
                </div>         
            </div>
            <!--Porcentaje del nivel-->
            <div class="contenedor-item">
                <!-- Chech Box-->
                <div class="propiedad-item">
                    <label><input type="checkbox" id="opcion-porcentaje-lvl" name="opcion-porcentaje-lvl"> Porcentaje de Nivel</label>
                </div>
                
                <!-- Importancia del porcentaje-lvl-->
                <div class="propiedad-item" name="imp-porcentaje-lvl">
                    <div class="contenedor-importancia-item">
                        <div class="importancia-item">
                            <input type="radio" id="imp-mp-porcentaje-lvl" name="imp-porcentaje-lvl" checked>
                            <label>Muy poca</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-p-porcentaje-lvl" name="imp-porcentaje-lvl" checked>
                            <label>Poca importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-x-porcentaje-lvl" name="imp-porcentaje-lvl" checked>
                            <label>Media importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-m-porcentaje-lvl" name="imp-porcentaje-lvl" checked>
                            <label>Mucha importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-mm-porcentaje-lvl" name="imp-porcentaje-lvl" checked>
                            <label>Muy importancia</label>
                        </div>
                    </div>
                </div>   
                <!--Rango del porcentaje de nivel-->
                <div class="propiedad-item">
                    <select name="rango-porcentaje-lvl" id="rango-porcentaje-lvl">
                        <option value="Discreto">Discreto</option>
                        <option value="Continuo">Continuo</option>
                    </select>
                    <small>Valor que tiene la el porcentaje en el juego</small>
                </div>  
                <!-- Valor del porcentaje-lvl-->  
                <div class="propiedad-item">
                    <select name="tipo-tiempo" id="tipo-tiempo">
                        <option value="Porcentaje Restante">Porcentaje Restante</option>
                        <option value="Porcentaje Superado">Porcentaje Superado</option>
                    </select>
                    <small>Forma de visualizar el porcentaje del nivel en el juego</small>
                </div>         
            </div>
            <!-- Coleccionable-->
            <div class="contenedor-item">
                <!-- Chech Box-->
                <div class="propiedad-item">
                    <label><input type="checkbox" id="opcion-coleccionable" name="opcion-coleccionable"> Coleccionable</label>
                </div>           
                <!-- Atributos de la Coleccionable-->
                <div class="propiedad-item" name="imp-coleccionable">
                    <div class="contenedor-importancia-item">
                        <div class="importancia-item">
                            <input type="radio" id="imp-mp-coleccionable" name="imp-coleccionable" checked>
                            <label>Muy poca</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-p-coleccionable" name="imp-coleccionable" checked>
                            <label>Poca importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-x-coleccionable" name="imp-coleccionable" checked>
                            <label>Media importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-m-coleccionable" name="imp-coleccionable" checked>
                            <label>Mucha importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-mm-coleccionable" name="imp-coleccionable" checked>
                            <label>Muy importancia</label>
                        </div>
                    </div>
                </div>         
            </div>
            <!-- Puntuación-->
            <div class="contenedor-item">
                <!-- Chech Box-->
                <div class="propiedad-item">
                    <label><input type="checkbox" id="opcion-puntuacion" name="opcion-puntuacion"> Puntuacion</label>
                </div>           
                <!-- Atributos de la puntuacion-->
                <div class="propiedad-item" name="imp-puntuacion">
                    <div class="contenedor-importancia-item">
                        <div class="importancia-item">
                            <input type="radio" id="imp-mp-puntuacion" name="imp-puntuacion" checked>
                            <label>Muy poca</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-p-puntuacion" name="imp-puntuacion" checked>
                            <label>Poca importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-x-puntuacion" name="imp-puntuacion" checked>
                            <label>Media importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-m-puntuacion" name="imp-puntuacion" checked>
                            <label>Mucha importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-mm-puntuacion" name="imp-puntuacion" checked>
                            <label>Muy importancia</label>
                        </div>
                    </div>
                </div>         
            </div>
            <!-- Personaje-->
            <div class="contenedor-item">
                <!-- Chech Box-->
                <div class="propiedad-item">
                    <label><input type="checkbox" id="opcion-personaje" name="opcion-personaje"> Personaje</label>
                </div>           
                <!-- Atributos de la personaje-->
                <div class="propiedad-item" name="imp-personaje">
                    <div class="contenedor-importancia-item">
                        <div class="importancia-item">
                            <input type="radio" id="imp-mp-personaje" name="imp-personaje" checked>
                            <label>Muy poca</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-p-personaje" name="imp-personaje" checked>
                            <label>Poca importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-x-personaje" name="imp-personaje" checked>
                            <label>Media importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-m-personaje" name="imp-personaje" checked>
                            <label>Mucha importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-mm-personaje" name="imp-personaje" checked>
                            <label>Muy importancia</label>
                        </div>
                    </div>
                </div>         
            </div>
            <!-- Armas-->
            <div class="contenedor-item">
                <!-- Chech Box-->
                <div class="propiedad-item">
                    <label><input type="checkbox" id="opcion-armas" name="opcion-armas"> Armas</label>
                </div>           
                <!-- Atributos de la armas-->
                <div class="propiedad-item" name="imp-armas">
                    <div class="contenedor-importancia-item">
                        <div class="importancia-item">
                            <input type="radio" id="imp-mp-armas" name="imp-armas" checked>
                            <label>Muy poca</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-p-armas" name="imp-armas" checked>
                            <label>Poca importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-x-armas" name="imp-armas" checked>
                            <label>Media importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-m-armas" name="imp-armas" checked>
                            <label>Mucha importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-mm-armas" name="imp-armas" checked>
                            <label>Muy importancia</label>
                        </div>
                    </div>
                </div>         
            </div>
            <!-- Habilidades-->
            <div class="contenedor-item">
                <!-- Chech Box-->
                <div class="propiedad-item">
                    <label><input type="checkbox" id="opcion-habilidades" name="opcion-habilidades"> Habilidades</label>
                </div>           
                <!-- Atributos de la habilidades-->
                <div class="propiedad-item" name="imp-habilidades">
                    <div class="contenedor-importancia-item">
                        <div class="importancia-item">
                            <input type="radio" id="imp-mp-habilidades" name="imp-habilidades" checked>
                            <label>Muy poca</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-p-habilidades" name="imp-habilidades" checked>
                            <label>Poca importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-x-habilidades" name="imp-habilidades" checked>
                            <label>Media importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-m-habilidades" name="imp-habilidades" checked>
                            <label>Mucha importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-mm-habilidades" name="imp-habilidades" checked>
                            <label>Muy importancia</label>
                        </div>
                    </div>
                </div>         
            </div>
            <!-- Escudos-->
            <div class="contenedor-item">
                <!-- Chech Box-->
                <div class="propiedad-item">
                    <label><input type="checkbox" id="opcion-escudo" name="opcion-escudo"> Escudo</label>
                </div>           
                <!-- Atributos de la escudo-->
                <div class="propiedad-item" name="imp-escudo">
                    <div class="contenedor-importancia-item">
                        <div class="importancia-item">
                            <input type="radio" id="imp-mp-escudo" name="imp-escudo" checked>
                            <label>Muy poca</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-p-escudo" name="imp-escudo" checked>
                            <label>Poca importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-x-escudo" name="imp-escudo" checked>
                            <label>Media importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-m-escudo" name="imp-escudo" checked>
                            <label>Mucha importancia</label>
                        </div>
                        <div class="importancia-item">
                            <input type="radio" id="imp-mm-escudo" name="imp-escudo" checked>
                            <label>Muy importancia</label>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
        <div class="separador"></div>
        <input class = "myButton" type="button" value="Enviar" onclick="EnviarFormulario()">
        <div class="separador"></div>
    </div>
</body>
</html>